/.idea
/.ipynb_checkpoints
/Class 1
/Class 9_err_hand_contextmanagers
/class_2_base_types
/Class_8
/class_10_data_analysis/Untitled.ipynb
/class_10_data_analysis/.ipynb_checkpoints
/class_11_testing/.pytest_cache
/class_11_testing/__pycache__
/class_11_testing/.coverage
/class_12_Cyton_profiling
/epam_python_env
/OOP Class
/Untitled.ipynb