/.idea
/.ipynb_checkpoints
/Class 1
/Class 9_err_hand_contextmanagers
/class_2_base_types
/Class_8
/class_10_data_analysis/Untitled.ipynb
/class_10_data_analysis/.ipynb_checkpoints
/class_11_testing/.pytest_cache
/class_11_testing/__pycache__
/class_11_testing/.coverage
/class_12_Cython_profiling/.ipynb_checkpoints
/class_12_Cython_profiling/__pycache__
/class_13_parallel_programming/venv
/class_13_parallel_programming/homework/__pycache__
/class_13_parallel_programming/homework/homework_v1_single_thread.py
/class_14_CMD_logging/
/class_15_sockets/homework/__pycache__/
/class_15_sockets/homework/outputs/
/class_18_web/*
!/class_18_web/homework/
/class_18_web/homework/*
!/class_18_web/homework/app.py
!/class_18_web/homework/stocks.py
!/class_18_web/homework/requirements.txt
/epam_python_env
/OOP Class
/Untitled.ipynb
